# Dependencies
node_modules/
package-lock.json
# Build output
dist/
build/
emsdk
# Logs
*.log
npm-debug.log*
package-lock.json
# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.wasm
*.map
*.wat
# Vite
.vite/
verify_mod_player.md
